@import url('https://fonts.googleapis.com/css?family=Khula:300');
@import './frontend/variables.scss';

.todo {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: $app-background-color;
    color: $static-color;
    font-family: 'Khula', sans-serif;
    font-size: $base-font-size;
}
